// Default
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	line-height: 1.5;
	margin:0;
	padding:0;
 	background-color: var(--bg-color);
 	color: var(--body-color);
 	font-family: var(--sans-serif);
	 transition:
		 color var(--transition-time),
		 background-color var(--transition-time);
}

a:not(.button) {
	color: var(--link-color);
	transition:
		background-color var(--transition-time),
		color var(--transition-time),
		opacity var(--transition-time),
		text-decoration-color var(--transition-time);

	&:hover {
		opacity: .8;
	}
}

a:not([class]) {
  text-decoration: var(--link-color) solid underline;
  text-decoration-skip: auto;
}

img {
	max-width: 100%;
}