// Used to wrap content inside a nice box.
.content-box {
	background-color: var(--bg-content-color);
	max-width: var(--content-width);
	margin: 0 auto;
	transition: background-color .6s;
	padding: var(--space);
  border-radius: var(--radius);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: transform var(--transition-time), background-color var(--transition-time), box-shadow var(--transition-time);
}
